{% extends "teacher_base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Расписание{% endblock %}

{% block teacher_content %}
<link rel="stylesheet" href="{% static 'css/timetable.css' %}">
<h1>Расписание</h1>
<table>
    <thead>
        <tr>
            <th>Время</th>
            <th>Понедельник</th>
            <th>Вторник</th>
            <th>Среда</th>
            <th>Четверг</th>
            <th>Пятница</th>
            <th>Суббота</th>
            <th>Воскресенье</th>
        </tr>
    </thead>
    <tbody>
        {% for hour in 24|range_filter %}
        <tr>
            <td>{{ hour }}:00</td>
            {% for day in days_of_week %}
            <td>
                {% for schedule in schedules %}
                    {% if schedule.day_of_week == day and schedule.start_time.hour == hour %}
                        {{ schedule.student.username }} - {{ schedule.subject }}
                    {% endif %}
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


